body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #14011b 0%, #5b260b 100%);
  color: #ffffff;
  overflow-x: hidden;
}


header,
main h1 {
  padding: 20px;
  color: rgb(255, 255, 255);
  margin: 0 50px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  color: rgba(255, 174, 145, 0.91);

  .logo {
    position: absolute;
    top: 2rem;
    left: 1rem;
    width: 50px;
    max-width: 50px;

    transition: 0.2s ease-in-out;
  }

  .logo:hover {
    transform: scale(1.1);
  }
}

.group {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 200px; /* Ajuste conforme necessário */
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 45px;
  padding-left: 2.5rem;
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
  border: 0;
  border-radius: 12px;
  background-color: #16171d; /* Cor de fundo escura */
  outline: none;
  color: #bdbecb; /* Cor do texto */
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: rgba(255, 220, 208, 0.703);
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}


h2 {
  color: rgba(255, 174, 145, 0.703) !important;
}

main {
  .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    width: calc(100% - 40px);
    margin: 0 20px;
    cursor: pointer;
  }

  .card-pokemon {
    width: 170px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 16px;
    transition: 0.3s ease-in-out;
    position: relative; /* Necessário para posicionamento absoluto do gif */
    overflow: visible; /* Permite que o conteúdo saia do card */
    padding-top: 200px;
  }
  
  .card-pokemon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px; /* Deve corresponder ao border-radius do card */
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0) 0%, /* Cor normal no centro (transparente) */
      rgba(33, 2, 44, 0.6) 70%, /* Cor escura nas bordas */
      rgba(33, 2, 44, 0.8) 100% /* Cor ainda mais escura nas bordas */
    );
    z-index: 0; /* Garante que a vinheta fique atrás do conteúdo do card */
  }
  
  .gif {
    position: absolute; /* Posicionamento absoluto */
    top: -30px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    width: 220px; /* Aumente conforme necessário */
    height: 220px; /* Aumente conforme necessário */
    object-fit: cover;
    z-index: 1; /* Garante que o gif fique sobre o card */
  }
  
  
  .card-pokemon:hover .gif {
    transform: translateX(-50%) scale(1.1); /* Escala e posiciona o gif no hover */
  }  

  .types {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding: 0;
    margin: 0;
    z-index: 1;
  }

  .tipo {
    padding: 6px 8px;
    border-radius: 12px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
  }

  .tipo.fire {background-color: #b94e48; }
  
  .tipo.water {background-color: #5a3f7d; }
  
  .tipo.grass {background-color: #6a8e6f; }
  
  .tipo.electric {background-color: #d4b5f0; }
  
  .tipo.ice {background-color: #7a5a7f; }
  
  .tipo.fighting {background-color: #a34e5d; }
  
  .tipo.poison {background-color: #8e5e8f; }
  
  .tipo.ground {background-color: #a64d29; }
  
  .tipo.flying {background-color: #7b6b9c; }
  
  .tipo.psychic {background-color: #d05f82; }
  
  .tipo.bug {background-color: #7c9c49; }
  
  .tipo.rock {background-color: #9b6b4d; }
  
  .tipo.ghost {background-color: #7a5f9b; }
  
  .tipo.dragon {background-color: #5d8abc;}
  
  .tipo.dark {background-color: #6e6b74; }
  
  .tipo.steel {background-color: #4e7b9e; }
  
  .tipo.fairy {background-color: #d09ac9; }
  
  .tipo.normal {background-color: #a8a4b0; }
  

  .descricao {
    font-size: 12px;
    color: #666666;
  }

  .cartao-pokemon:hover .gif {
    transform: scale(1.1);
  }

  .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    z-index: 1;
    span {
      font-size: 16px;
      font-weight: bold;
      color: #f2a839ed;
    }
  }

}

.wrapper-search {
  width: 100%;
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  align-items: center;
  justify-content: center;
}
.wrapper-battle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.wrapper-battle h2 {
  color: gray;
}
.cards-battle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.btn-battle {
  border: hidden;
  background: rgb(246, 120, 48);
  background: linear-gradient(
    93deg,
    rgba(246, 120, 48, 1) 32%,
    rgba(230, 17, 17, 1) 96%
  );

  padding: 10px;
  color: white;
  border-radius: 10px;
  font-weight: 800;
  cursor: pointer;
  opacity: 0.8;
}
.btn-battle:hover {
  opacity: 1;
}
.flip-card {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
  border: 1px solid rgba(255, 138, 95, 0.4);
}

.flip-card-front {
  background: linear-gradient(
    120deg,
    rgba(31, 2, 42, 0.7) 30%,  /* tom escuro de roxo */
    rgba(115, 6, 81, 0.425) 88%,  /* tom mais escuro de roxo */
    rgba(98, 4, 101, 0.6) 40%,  /* tom intermediário de roxo */
    rgba(255, 151, 113, 0.5) 78%  /* tom claro e suave */
  );
  color: #ffc671c7;  /* cor dourada para contraste */
}

.flip-card-back {
  background: linear-gradient(
    120deg,
    rgba(31, 2, 42, 0.7) 30%,  /* tom escuro de roxo */
    rgba(115, 6, 81, 0.425) 88%,  /* tom mais escuro de roxo */
    rgba(98, 4, 101, 0.6) 40%,  /* tom intermediário de roxo */
    rgba(255, 151, 113, 0.5) 78%  /* tom claro e suave */
  );

  color: white;
  transform: rotateY(180deg);
}
