/* ===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #2d0661;
}

*::-webkit-scrollbar-thumb {
  background-color: #571797;
  border-radius: 10px;
  border: 3px solid #32133e;
}
